### 1. List Into Series

In [1]:
import pandas as pd

In [2]:
list = ['bhavin','kishan','hardik','gautam']

In [3]:
series = pd.Series(list)
print(series)
print (type(series))

0    bhavin
1    kishan
2    hardik
3    gautam
dtype: object
<class 'pandas.core.series.Series'>

### 2. Integer Into Series

In [4]:
runs = [12,13,45,16,15,18,19,20,12]

In [5]:
runs_series = pd.Series(runs)
print(runs_series)
print (type(runs_series))

0    12
1    13
2    45
3    16
4    15
5    18
6    19
7    20
8    12
dtype: int64
<class 'pandas.core.series.Series'>

### 3. Custom Index

In [6]:
marks = [1,2,3,4,5]
subjects = ['Hindi','Science','Geography','Maths','Chemistry']
custom_index = pd.Series(marks,index=subjects)
print(custom_index)
print(type(custom_index))

Hindi        1
Science      2
Geography    3
Maths        4
Chemistry    5
dtype: int64
<class 'pandas.core.series.Series'>

### 4. Setting Name Of Object In Series

In [7]:
marks = [1,2,3,4,5]
subjects = ['Hindi','Science','Geography','Maths','Chemistry']
custom_index = pd.Series(marks,index=subjects,name='Marks Of Bhavin')
print(custom_index)
print(type(custom_index))

Hindi        1
Science      2
Geography    3
Maths        4
Chemistry    5
Name: Marks Of Bhavin, dtype: int64
<class 'pandas.core.series.Series'>

### 5. Setting Name Of Object In Series

In [8]:
marks = {
    'sci':100,
    'maths': 200,
    'geography': 300
}

dict_series = pd.Series(marks,name='Dictionary of marks')
print(dict_series)
print(type(dict_series))

sci          100
maths        200
geography    300
Name: Dictionary of marks, dtype: int64
<class 'pandas.core.series.Series'>

## 6. Series Attributes

In [9]:
# size
dict_series.size

3

In [10]:
# dtype
custom_index.dtype

dtype('int64')

In [11]:
# is_unique
runs_series.is_unique

False

In [12]:
# name
dict_series.name

'Dictionary of marks'

In [13]:
# index
runs_series.index

RangeIndex(start=0, stop=9, step=1)

In [14]:
# values
dict_series.values

array([100, 200, 300])

### 7. Series Using read_csv

In [15]:
# Series With One Column
vk = pd.read_csv('subs.csv')
squeeze_series = vk.squeeze()
print(squeeze_series)
print(type(squeeze_series))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# Series With 2 Columns
kohli_df = pd.read_csv('kohli_ipl.csv', index_col='match_no')
kohli_series = kohli_df['runs']
print(kohli_series)
print(type(kohli_series))

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64
<class 'pandas.core.series.Series'>

### 8. Series Methods

In [40]:
# head and tail
df = pd.read_csv('bollywood.csv',index_col='lead')
movies_series = df['movie']
print(movies_series)
print(type(movies_series))

lead
Vicky Kaushal                   Uri: The Surgical Strike
Vicky Ahuja                                Battalion 609
Anupam Kher         The Accidental Prime Minister (film)
Emraan Hashmi                            Why Cheat India
Mona Ambegaonkar                         Evening Shadows
                                    ...
Shah Rukh Khan                    Hum Tumhare Hain Sanam
Amitabh Bachchan                     Aankhen (2002 film)
Vivek Oberoi                             Saathiya (film)
Ajay Devgn                                Company (film)
Akshay Kumar                        Awara Paagal Deewana
Name: movie, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

In [42]:
# head
# movies_series.head() -> first 5 rows by default
# movies_series.head(10) -> first 10 rows of dataset

lead
Vicky Kaushal                       Uri: The Surgical Strike
Vicky Ahuja                                    Battalion 609
Anupam Kher             The Accidental Prime Minister (film)
Emraan Hashmi                                Why Cheat India
Mona Ambegaonkar                             Evening Shadows
Geetika Vidya Ohlyan                             Soni (film)
Arshad Warsi                                   Fraud Saiyaan
Radhika Apte                                      Bombairiya
Kangana Ranaut              Manikarnika: The Queen of Jhansi
Nawazuddin Siddiqui                         Thackeray (film)
Name: movie, dtype: object

In [44]:
# tail
# movies_series.tail() -> first 5 rows by default
# movies_series.tail(10) -> first 10 rows of dataset

lead
Dino Morea                    Raaz (2002 film)
Ajay Devgn                  Zameen (2003 film)
Arshad Warsi        Waisa Bhi Hota Hai Part II
Shah Rukh Khan        Devdas (2002 Hindi film)
Amitabh Bachchan                        Kaante
Shah Rukh Khan          Hum Tumhare Hain Sanam
Amitabh Bachchan           Aankhen (2002 film)
Vivek Oberoi                   Saathiya (film)
Ajay Devgn                      Company (film)
Akshay Kumar              Awara Paagal Deewana
Name: movie, dtype: object

In [33]:
# sample -> any random row/rows from dataset
# movies_series.sample() -> any one random movie name
# movies_series.sample(5) -> any random 5 movies from dataset

movie
Dil Juunglee                       Taapsee Pannu
Chargesheet (film)                     Dev Anand
Big Brother (2007 film)               Sunny Deol
Rough Book                 Tannishtha Chatterjee
Kurbaan (2009 film)                    Lewis Tan
Name: lead, dtype: object

In [45]:
# value_counts 
movies_series.value_counts()

movie
Gabbar Is Back                2
Tanu Weds Manu: Returns       2
Andaaz                        2
Hum Chaar                     1
Total Dhamaal                 1
                             ..
Joggers' Park (film)          1
Market (2003 film)            1
Om (2003 film)                1
Out of Control (2003 film)    1
Amavas                        1
Name: count, Length: 1497, dtype: int64

In [50]:
# sort
movies_series.sort_values()
# to make make in descending use "ascending=False"
# for doing permanent changes use "inplace=True"

lead
Rajniesh Duggall                   1920 (film)
Sharman Joshi                     1920: London
Vicky Ahuja             1920: The Evil Returns
Manoj Bajpayee                1971 (2007 film)
Arjun Kapoor              2 States (2014 film)
                                ...
Veena Malik                      Zindagi 50-50
Hrithik Roshan        Zindagi Na Milegi Dobara
Mithun Chakraborty           Zindagi Tere Naam
Darsheel Safary                       Zokkomon
Meghan Jadhav            Zor Lagaa Ke...Haiya!
Name: movie, Length: 1500, dtype: object

In [53]:
movies_series.sort_index()
# to make make in descending use "ascending=False"
# for doing permanent changes use "inplace=True"

lead
Aadar Jain                            Qaidi Band
Aadil Chahal      Roar: Tigers of the Sundarbans
Aahana Kumra            Lipstick Under My Burkha
Aamir Bashir                Raat Gayi Baat Gayi?
Aamir Khan       Talaash: The Answer Lies Within
                              ...
Zeenat Aman                  Dil Toh Deewana Hai
Zeenat Aman                      Sallu Ki Shaadi
Zeenat Aman                   Strings of Passion
Zeenat Aman             Dunno Y... Na Jaane Kyon
Zulfi Sayed     Taj Mahal: An Eternal Love Story
Name: movie, Length: 1500, dtype: object

### 9. Series Math Method

In [63]:
series = pd.read_csv('subs.csv')
subs_series = series.squeeze()
print(subs_series)
print(type(subs_series))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [64]:
# min -> gives Minimum Value From Dataset
subs_series.min()

np.int64(33)

In [65]:
# max -> gives Maximum Value From Dataset
subs_series.max()

np.int64(396)

In [67]:
# mean , median , mode , std , var -> statistical methods
print('The Mean Of The Cloumn Is:-')
print(subs_series.mean())
print()
print('The Median Of The Cloumn Is:-')
print(subs_series.median())
print()
print('The Mode Of The Cloumn Is:-')
print(subs_series.mode())
print()
print('The Standard deviation Of The Cloumn Is:-')
print(subs_series.std())
print()
print('The Variance Of The Cloumn Is:-')
print(subs_series.var())

The Mean Of The Cloumn Is:-
135.64383561643837

The Median Of The Cloumn Is:-
123.0

The Mode Of The Cloumn Is:-
0    105
Name: Subscribers gained, dtype: int64

The Standard deviation Of The Cloumn Is:-
62.6750230372527

The Variance Of The Cloumn Is:-
3928.1585127201565

In [68]:
# count
subs_series.count()

np.int64(365)

In [69]:
# sum 
subs_series.sum()

np.int64(49510)

In [70]:
# describe -> short statistical info about dataset
subs_series.describe()

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [72]:
movies_series

lead
Vicky Kaushal                   Uri: The Surgical Strike
Vicky Ahuja                                Battalion 609
Anupam Kher         The Accidental Prime Minister (film)
Emraan Hashmi                            Why Cheat India
Mona Ambegaonkar                         Evening Shadows
                                    ...
Shah Rukh Khan                    Hum Tumhare Hain Sanam
Amitabh Bachchan                     Aankhen (2002 film)
Vivek Oberoi                             Saathiya (film)
Ajay Devgn                                Company (film)
Akshay Kumar                        Awara Paagal Deewana
Name: movie, Length: 1500, dtype: object

In [78]:
# indexing
movies_series[1]

C:\Users\acer\AppData\Local\Temp\ipykernel_16520\1526707516.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movies_series[1]

'Battalion 609'

In [80]:
# slicing
movies_series[0:5]

lead
Vicky Kaushal                   Uri: The Surgical Strike
Vicky Ahuja                                Battalion 609
Anupam Kher         The Accidental Prime Minister (film)
Emraan Hashmi                            Why Cheat India
Mona Ambegaonkar                         Evening Shadows
Name: movie, dtype: object

In [81]:
# integer indexing
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
x[0]

np.int64(1)

### 10. Editing Series

In [85]:
dict_series

sci          500
maths        200
geography    300
Name: Dictionary of marks, dtype: int64

In [84]:
dict_series[0] = 500

C:\Users\acer\AppData\Local\Temp\ipykernel_16520\1519577029.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  dict_series[0] = 500

In [86]:
dict_series['chemistry'] = 400

In [87]:
dict_series

sci          500
maths        200
geography    300
chemistry    400
Name: Dictionary of marks, dtype: int64

In [90]:
dict_series[0:2] = [100,100]

In [91]:
dict_series

sci          100
maths        100
geography    300
chemistry    400
Name: Dictionary of marks, dtype: int64

### 11. Series With Python Functionalities

In [92]:
# len , type , min , max , dir ,sorted -> all python functionalities work with pandas

### 12. Type Conversion

In [98]:
a = [1,2,3,4,5,6,7]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [99]:
new_list = tuple(a)
print(new_list)
print(type(new_list))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

### 12 . Looping

In [103]:
# looping 
for i in subs_series:
    print(i)

48
57
40
43
44
46
33
40
44
74
49
56
49
42
39
44
54
51
40
37
40
45
50
56
35
49
46
88
61
42
56
50
50
49
76
123
108
110
56
62
65
66
33
66
82
126
109
88
83
108
101
128
111
96
101
99
105
72
93
76
104
70
80
99
104
136
115
123
112
145
87
84
92
80
70
70
132
123
98
96
88
86
92
92
110
120
105
72
84
90
78
81
89
89
93
86
95
83
72
87
100
72
79
67
71
90
77
100
88
65
95
78
89
96
81
105
80
66
73
68
159
90
83
76
77
66
64
85
136
135
71
79
75
72
78
109
93
84
74
87
128
105
105
82
86
100
88
104
87
119
118
97
114
117
102
101
96
90
114
118
113
123
129
140
180
225
249
265
306
261
222
170
160
114
175
170
115
152
105
105
93
110
102
136
76
105
130
146
146
105
146
150
114
113
117
108
103
108
138
124
139
117
103
108
146
131
113
108
125
91
97
98
119
115
123
119
127
135
137
156
160
122
111
131
192
224
254
214
236
261
247
207
254
301
233
168
179
154
152
153
202
185
158
173
180
184
259
196
213
210
179
182
216
183
185
159
180
160
154
147
138
157
134
184
134
132
119
153
185
138
150
134
160
170
175
228
237
276
173
290
295
245
241
267
269
211
186
206
202
176
236
222
203
190
190
170
156
172
174
157
178
189
174
157
173
162
151
115
152
150
186
156
230
186
150
153
167
183
244
158
155
167
157
196
243
227
259
183
166
154
396
312
268
229
197
188
176
221
225
221
202
171
185
184
276
258
219
212
192
164
192
220
196
197
204
149
156
177
210
209
231
226
155
144
172

In [104]:
# looping 
for i in subs_series.index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364